@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:it');

@import "tailwindcss";

*{
    font-family: "Outfit" ,sans-serif;

}

:root {
  --color-primary: #4fbf8b;
  --color-primary-dull: #bfddcf;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-dull {
  background-color: var(--color-primary-dull);
}


